# Firebase Configuration (agroscan-ai-07)
VITE_FIREBASE_API_KEY=YOUR_FIREBASE_API_KEY_HERE
VITE_FIREBASE_AUTH_DOMAIN=agroscan-ai-07.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=agroscan-ai-07
VITE_FIREBASE_STORAGE_BUCKET=agroscan-ai-07.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=279701842154
VITE_FIREBASE_APP_ID=1:279701842154:web:cbb8228842360fddf40f93
VITE_FIREBASE_MEASUREMENT_ID=G-DRDQ26J04Y
VITE_API_BASE_URL=/api/v1
